header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 6rem;
  background-color: $bg;
}

nav {
  display: flex;
  align-items: center;
  gap: 3rem;

  ul {
    display: flex;
    align-items: center;
    gap: 3.5rem;
  }

  li {
    position: relative;
    display: flex;
    align-items: center;
    gap: 1rem;
    width: fit-content;
    font-weight: 600;
    cursor: pointer;

    &:hover::after {
      transform: scaleX(1);
    }

    &::after {
      content: "";
      position: absolute;
      top: 1.6rem;
      left: 0;
      height: 2px;
      width: 100%;
      transform: scaleX(0);
      transform-origin: left;
      transition: transform 0.3s ease-out;
      background-color: black;
    }
  }
}
